<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <title>Login | HappyMeal</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>
     <div class="container">
        <h2>Welcom to the site</h2>
        <h5>Please log in to continue</h5>
        <form action="/login" method="POST" id="form">
            <div class="input-box">
                <input type="text" name="email" placeholder="Email" 
                value="<%= typeof email != 'undefined' ? email : '' %>" />
            </div>
            <div class="input-box">
                <input type="password" name="pass" placeholder="Password" 
                value="<%= typeof pass != 'undefined' ? pass : '' %>" />
            </div>
            <div class="err"><%= typeof error !== 'undefined' ? error : '' %></div>
            <button type="submit" class="login-btn">Sign in</button>
        </form>
        <div class="register">
            <p>Don't have an account? <a href="/signup" id="register-link"> Sign up</a></p>
         </div>
     </div>
     
</body>
<footer><%- include('partials/footer') %></footer>
</html>