<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= recipe[0].name_food %> | HappyMeal</title>
    <link rel="stylesheet" type="text/css" href="/css/recipe.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
    
</head>
<body>
    <% if(isLogined === true ){ %>
        <%- include('headerAfter') %>
    <% } else{ %>  
      <%- include('partials/header') %>
    <% } %>
    <% if (message.error){ %>
        <div class="alert_no">
            <% message.error.forEach( (error) => { %>
                <p><%= error %></p>
            <% }); %>
        </div>
    <% }%>
    <% if (message.success){ %>
        <div class="alert_yes">
            <% message.success.forEach( (success) => { %>
                <p><%= success %></p>
            <% }); %>
        </div>
    <% }%>
    <div class="container">
        <div class="img-container">
            <img src="<%=recipe[0].img %>" alt="<%= recipe[0].name_food %>" >
        </div>
        <div class="infor">
            <div class="watch"><a href="<%= recipe[0].video %>">WATCH</a></div>
            <div class="name">
                <h1><%= recipe[0].name_food %></h1>
                <div class="character">
                    <p class="property"><%= recipe[0].property %></p>
                    <p class="calo"><%= recipe[0].calories %></p>
                </div>
                <div class="characters">
                    <p>-<%= category[0].name %></p>
                    <p>-<%= area[0].name_area %></p>
                </div>              
            </div>
            <div class="button">
                <form action="/save/<%= recipe[0].id %>" method="post" id="myForm">
                    <button name="save-btn" value="save" class="save_btn">
                        <i class="fa-regular fa-bookmark"></i>
                        <span>SAVE RECIPE</span>
                    </button>
                </form>
                <button type="button" class="print_btn">
                    <i class="fa-solid fa-print"></i>
                    <span>PRINT</span>
                </button>
            </div>
        </div>    
    </div>
    <div class="ingredient">
        <div class="title-in"><h3>Ingredients</h3></div>
        <div class="content-in">
        <% for(let i = 0; i < ingredient.length; i++){ %>
            <input type="checkbox" value="<%=ingredient[i].name_in %>">
            <label for="<%=ingredient[i].name_in %>"><%=ingredient[i].name_in %></label><br>
        <% } %>
        </div>
    </div>

    <div class="instruction">
        <div class="title-in"><h3>Instruction</h3></div>
        <div class="content-in"><p class="in"><%= recipe[0].instructions %></p></div>
    </div>

    <div class="saved-note"> 
        <div class="title-in"><h3>Your note</h3></div>
        <ul>
            <% for (let i = 0; i < note.length; i++){ %>
                <li><%=note[i].content %></li>
            <% }%>
        </ul>
        
        
    </div>
    <div class="note-container">
        <form action="/recipe/<%= recipe[0].id %>" method="POST">
            <div class="note-box">
                <input type="text" name="note" placeholder="Note: Your ingredient..." />
            </div>
            <button type="submit" class="note-btn">SAVE</button>
        </form>
    </div>

    <footer><%- include('partials/footer') %></footer>

</body>
</html>